aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
baidu-aip==4.16.10
beautifulsoup4==4.11.1
boto3==1.26.101
botocore==1.29.101
bottle==0.12.25
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.1.0
contourpy==1.0.7
cycler==0.11.0
dataclasses-json==0.5.7
datasets==2.10.1
dill==0.3.6
dnspython==2.3.0
dowhy==0.6
econml==0.13.0
faiss-cpu==1.7.3
filelock==3.10.0
Flask==2.2.3
fonttools==4.39.0
frozenlist==1.3.3
fsspec==2023.3.0
geojson==2.5.0
google-api-core==2.11.0
google-api-python-client==2.83.0
google-auth==2.17.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
homebrew==0.2.5
httplib2==0.22.0
huggingface-hub==0.13.2
idna==3.4
itchat==1.3.10
itchat-uos==1.5.0.dev0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
kiwisolver==1.4.4
langchain==0.0.126
lightgbm==3.3.2
llvmlite==0.38.1
loguru==0.6.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==2.8.4
npm==0.1.1
numba==0.55.2
numpy==1.22.4
oauthlib==3.2.2
openai==0.27.2
optional-django==0.1.0
optionaldict==0.1.2
packaging==21.3
pandas==1.4.3
patsy==0.5.2
Pillow==9.4.0
pinecone-client==2.2.1
plotly==5.13.1
protobuf==4.22.1
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.17
pycurl==7.45.2
pydantic==1.10.7
pydot==1.4.2
pydub==0.25.1
PyJWT==2.6.0
pyowm==3.3.0
pyparsing==3.0.9
PyPDF2==3.0.1
pypng==0.20220715.0
PyQRCode==1.2.1
pysilk==0.0.1
pysilk-mod==1.6.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.9
s3transfer==0.6.0
scikit-learn==1.1.1
scipy==1.8.1
shap==0.39.0
six==1.16.0
slicer==0.0.7
soupsieve==2.3.2.post1
sparse==0.13.0
SpeechRecognition==3.10.0
SQLAlchemy==1.4.47
statsmodels==0.13.2
sympy==1.10.1
tenacity==8.2.2
threadpoolctl==3.1.0
tiktoken==0.3.1
tqdm==4.65.0
typing-inspect==0.8.0
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.12
wechatpy==1.8.18
Werkzeug==2.2.3
WeRoBot==1.13.1
xlrd==2.0.1
xmltodict==0.13.0
xxhash==3.2.0
yarl==1.8.2
